body {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    background: rgb(232, 232, 232);
    background: linear-gradient(-90deg, rgba(232,232,232,1) 0%, rgb(49, 49, 49) 100%);
}

.gray {
    background-color:rgb(58, 58, 58);
    color: white;
}



dt {
    color: rgb(255, 255, 255);
}   
.nft {
    display: block;
    max-width: 100%;
    height: auto;
    
}


.test {
    display: block;
}

#nils {
    color: rgb(162, 162, 162);
}

