body {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    background: rgb(232, 232, 232);
    background: linear-gradient(-90deg, rgba(232,232,232,1) 0%, rgb(49, 49, 49) 100%);
}

.gray {
    background-color:rgb(58, 58, 58);
    color: white;
}

.textDetails {
    color: rgb(219, 219, 219);
}

dt {
    color: rgb(255, 245, 233);
}
.nft {
    display: block;
    max-width: 100%;
    height: auto;
    
}

#nils {
    color: rgb(162, 162, 162);
}

